<!-- <div>
  i = {{i}}
  <div *ngIf="i==1"> First case 
    <input type="button" value="2nd case" (click)="newDiv(2)"/>
  </div>

  <div *ngIf="i==2"> Second case 
    <input type="button" value="1st case" (click)="newDiv(1)"/>
  </div>

  <div>
    Enter your number: <input type="text" [(ngModel)]="i"/>
  </div>
</div> -->

<!-- <div class="container">
  <h1 class="font center">Check Elgibility for Registration Application</h1><br><br>
  <div *ngIf="i==1">
    Enter Name <input type="text" [(ngModel)]="name"/><br><br>
    Enter percentage <input type="number" [(ngModel)]="percent"/> %<br><br>
    Enter state 

    <input type="text" [(ngModel)]="state"/>
    <br><br>

    <input type="button" value="Get_Result" (click)="getResult(2, percent, state, name)"/>
  </div>

  <div *ngIf="i==2">
    <p> Name: {{name}}</p>
    <p> Your Result is: {{percent}}</p>
    <p>Your State is: {{state}}</p>
    <input type="button" value="Back" (click)="back(1)"/>

    <h2 style="color: red;">{{status}}</h2>
  </div>
</div> -->

<!-- <div>
  {{temp}}

<div [ngSwitch]="temp">
  <div *ngSwitchCase="1">case 1</div>
  <div *ngSwitchCase="2">case 2</div>
  <div *ngSwitchDefault>Default case</div>
</div><br> -->

<!-- Date: {{date}}<br>

Date: {{date | date}}<br>

Date: {{date | date:'shortDate'}}<br>

Date: {{date | date:'fullDate'}}<br>

Date: {{date | date:'dd / MM / YY'}}<br>

Date: {{date | date:'hh mm ss'}}<br>

</div> -->

<!-- <div [ngSwitch]="temp">
  <div *ngSwitchCase="1">
  Full Name: <input type="text" [(ngModel)]="name"/><br><br>
  Ph Number: <input type="number" [(ngModel)]="phNum"/><br>

  Gender: <input type="radio" id="male" [(ngModel)]="gender" value="Male">
    <label for="male">Male</label>
    <input type="radio" id="female" [(ngModel)]="gender" value="Female">
    <label for="female">Female</label><br>
  
  City:
  <select [(ngModel)]="city">
    <option>CHANDIGARH</option>
    <option>LUDHIANA</option>
    <option>PANCHKULA</option>
  </select><br><br>

  <input type="button" value="Submit" (click)="submit(2)"/>
  </div>

  <div *ngSwitchCase="2">
  Full Name: <input type="text" value="{{name}}" disabled/><br><br>
  Ph Number: <input type="number" value="{{phNum}}" disabled/><br>

  Gender: <input type="text" value="{{gender}}" disabled/><br>
  
  City:
  <input type="text" value="{{city}}" disabled>
  <br><br>
    <input type="button" value="Edit" (click)="submit(1)"/>
  </div> -->

  <div>
<!-- i={{i}} -->
</div>

<hr><br><br>
<div class="container">
  <h2 class="font center">Digital Clock</h2>
 <div *ngIf="change == 1"> <button class="btn" (click)="start(2)">Start CLock </button></div>
 <div *ngIf="change == 2"><button class="btn" (click)="stop(1)">Stop CLock </button></div>
  <br><br>

  <hr>
  <h1 class="font center">{{hour}}h : {{min}}m : {{sec}}s  {{timeformat}}</h1>
  <hr>
  <!-- <input type="button" value="Add" (click)="add()"/> -->
</div>
 <br><br> 
<div class="container">
  <hr>
  <h2 class="font center">Lap</h2>
  <button class="btn" (click)="lap()">Lap</button>
 <h2 id="formatted" class="font center">{{str}}</h2>
  <hr>
</div>
<br>
<hr>
<br>

<div class="container">
  <img [src]="img_path" alt="">
<br><br>
  <input class="btn" type="button" value="Previous" (click)="newpic(-1)"/>
  <input class="btn" type="button" value="Next" (click)="timePic()"/>
  {{sec}}


<!-- 
<input type="text" [(ngModel)]="new_item"/>
<input type="button" value="add new Item" (click)="add_item()"/> 
<select [(ngModel)]="select_item_name">
<option *ngFor="let item of list1">{{item}}</option>
</select> -->








</div><br><br><br>